@tailwind base;
@tailwind components;
@tailwind utilities;
/* don't use it for everything just use it for larger class names */
@layer components {
  .side-bar-link {
    @apply flex items-center py-2 px-3 gap-2 hover:pl-4 transition-all text-base capitalize;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

#login-page {
  background-image: url(./assets/images/logo.png);
}
#login-page input {
  box-shadow: 0px 0px 8px #fff;
}
