@tailwind base;
@tailwind components;
@tailwind utilities;
/* don't use it for everything just use it for larger class names */
@layer components {
  .side-bar-link {
    @apply flex items-center py-2 px-3 gap-2 hover:pl-4 transition-all text-base capitalize;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
